body{
    background-color: #212D42;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

input{
    border-bottom: none;
    margin: initial;
    padding: initial;
}

main{
    margin: 1em;
}

#application{
    background-color: #405780;
    border-radius: .7em;
    padding: 1em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

#application > #header span{
    font-size: 2.5em;
    padding: 0 .25em .1em;
}

#application > #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    padding: 0 .25em;
}

main > #header{
    height: 0;
    overflow: hidden;
    padding-top: calc(100 / 600 * 100%);
    position: relative;
    margin-bottom: 1em;
}

main > #header #aspect-ratio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main > #header #centered{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > #header #logo{
    height: 100%;
}

main > #header #title{
    margin-left:.5em;
    font-size: 2.7em;
    font-weight: 200;
    letter-spacing: 1px;
}

#subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #739DE6;
    border-radius: .25em;
    padding: .5em;
    margin-bottom: .5em;
}

#subtitle #filename {
    font-size: 1.5em;
    padding: 0 .25em .1em;
}

#subtitle #icon {
    cursor: pointer;
    padding: 0 .25em;
}

.inputfile + label {
    border-radius: .25em;
    background-color: rgb(161, 123, 48);
}

.inputfile + label:hover {
    background-color: rgb(173, 139, 66);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 1rem;
    /* 10px 20px */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}

.scrollbar{
    padding: 0 0.5em;
    overflow-y: auto;
    max-height: 500px;
}

.subtitles:empty:after {
    font-style: italic;
    color: #739DE6;
    font-size: 1.5em;
    padding: 0 0 0 30%;
    content: 'Not subtitles there...';
}

.style-srl::-webkit-scrollbar-track
{
    border-radius: .25em;
    background-color: #212D42;
}

.style-srl::-webkit-scrollbar
{
	width: 10px;
    background-color: rgb(41, 187, 255);
    border-radius: .25em;
    margin: 1em;
}

.style-srl::-webkit-scrollbar-thumb
{
    background-color: #80AEFF;
    border-radius: .25em;
}
